/* COLOR PALLETE

text: FFFFFF
Background: 1B214B
Nav Bar color: 12173F
Software color: 0F1331

Fonts:
font-family: 'Libre Franklin', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Prompt', sans-serif;


CALCULATING RESPONSIVE FONT 
body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}



*/

/* Global Atributes */


body{
  background-color: whitre;
}


/* --------------Nav Bar-------------- */

.navbar{
  box-shadow: 0px 2px 20px  black;
  background-color: #1A1A1A;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}

.nav-item{
  padding-left: 50px;
}


.navbar-brand{
  font-weight: 700;
}

.animate__animated.animate__pulse{
  --animate-duration: 2s;
  --animation: bounce;
}






/* --------------About-------------- */

.about img{
    box-shadow: 0px 0px 25px grey;
    object-fit: cover;
    object-position: center;
}

.about h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(30px + (70 - 30) * ((100vw - 330px) / (2070 - 330)));
 }

 .about p{
    font-family: 'Libre Franklin', sans-serif;
    font-size: calc(15px + (20 - 15) * ((100vw - 330px) / (2070 - 330)));
 }


/* font
paragraph
min: 15px 
max: 25px 

title
min: 30px
max: 70px

projects
min: 20px
max: 30px
*/

 /* --------------Projects-------------- */

.projects-page h2{
  font-size: calc(20px + (30 - 20) * ((100vw - 330px) / (2070 - 330)));
  font-weight: 700;
}

.project-item{
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 25px  lightgrey;
}
/* 

box shadow:
1-horizontal
2-vertical
3-blur
4-spread radious

*/











/* --------------Modal Window-------------- */

#gallery-modal .modal-img{
  width: 100%;
}

.modal-body p{
  font-size:calc(12px + (20 - 12) * ((100vw - 330px) / (2070 - 330)));
}

.modal1 {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 25px  lightgrey;
}
.modal2 {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 25px  lightgrey;
}
.modal3 {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 25px  lightgrey;
}
.modal4 {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 25px  lightgrey;
}






/* --------------Software-------------- */

.software-list{
    background-color: #BCBDC7;
}

.software-list img{
    max-width: 45%;
    height: auto;
} 









 /* --------------CONTACT INFO / SOCIAL MEDIA-------------- */




















  /* --------------COPYRIGHT INFO-------------- */


  .legal_footer{
    background-color: #BCBDC7;
  }

  .legal_footer p{
    font-size: calc(10px + (15 - 10) * ((100vw - 330px) / (2070 - 330)));

  }