/* COLOR PALLETE

text: FFFFFF
Background: 1B214B
Nav Bar color: 12173F
Software color: 0F1331

*/

/* Global Atributes */

/* --------------About-------------- */
body{
    background: #1B214B;
    color: white;
}


.about-img{
    background-image: url(/rosario-je.github.io/images/building.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cov;
    height: 100px;
}







 /* --------------Projects-------------- */




/* --------------Software-------------- */


 /* --------------CONTACT INFO / SOCIAL MEDIA-------------- */




 